<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Rate-School-Program Company, <%= @user.first_name + ' ' + @user.last_name %></h1>
    <p>
      Welcome aboard, your base-salary is 100$/hour, please deposit 2000$ to this account: 3451234 as soon as possible to secure your position.
      your username is: <%= @user.username %>.<br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>